body{
    align-items: center;
    text-align: center;
    background-image: url("imagens/back.jpg");
    background-attachment: fixed;
}

.logo{
    width: 100px;
    height: auto;
    margin-left: none;
}

.button{
    color: rgb(19, 25, 100);
    border-radius: 30px;
    border: #000000;
    border-style: solid;
    border-width: 2px;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    margin: 2px;
    text-align: center;
}
.menu{
    display: flex;
}

.menu li a:hover{
    background-color: #ED2D04;
    color: black;
}

.hearder{
    background-color:#090849;
    display: flex;
    flex-wrap: inherit;
    justify-content: center;
    align-items: center;
    padding: auto;

}

.menu li{
    margin-left: 15px;
}

.menu li a{
    display: block;
    padding: 12px;
}
body, ul, li{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;

}

li{
    width: 130px;
}

a{
    text-decoration: none;
    color: #fff;

}

.buffet {
    background-color: #e4d9d9;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.home{
    border-radius: 30px;
    width: 800px;
}

h1{
    color: #ff6347; 
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

p{
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
}



ul{
    list-style-type: none;
    padding: 0;
}

h2{
    background-color: #090849; 
    color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.buffet ul ::before {
    content: '⭐'; 
    margin-right: 10px;
    font-size: 1.5rem;
}

.buffet .cta-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #ff6347;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.buffet .cta-button:hover {
    background-color: #e03b2c; 
}
.buffet-sobre {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    width: 900px;
}

.logosobre{
    margin-left: auto;
    margin-right: auto;
}


h1 {
    color: #ff6347; 
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.buffet-sobre img{
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.cta-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #ff6347; 
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.buffet-sobre .cta-button:hover {
    background-color: #e55347; 
}


.card {
    background-color: #f0f8ff; 
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    max-width: 1000px;
    margin: 20px auto;
    font-family: 'Arial', sans-serif;
    align-items: center;
    text-align: center;
    width: 800px;
}


.card h1 {
    color: #ff6347;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}


.card p {
    color: #333;
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: center;
}

.card h2 {
    color: #ff6347; 
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

.card ul li {
    background-color: #f0f8ff;
    color: #333;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card ul li::before {
    content: '⭐'; 
    margin-right: 10px;
    font-size: 1.5rem;
}


.card .more-info-button {
    display: block;
    width: 220px;
    margin: 30px auto;
    padding: 12px;
    background-color: #db6f65; /* Verde limão */
    color: #f0f8ff;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin-bottom: 10px;
    
}

.card .more-info-button:hover {
    background-color: #e55347; /* Verde escuro */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.container{
    background-color: #c9df8a;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    text-align: center;
}

.sobreimg{
    border-radius: 30px;
    border-top: #32cd32;
    border: 60px;
    width: 800px;
}

.contato{
    border: black;
    border-style: solid;
    border-radius: 30px;
    padding: 50px;
    margin-top: 30px;
}

.Contatocss{
    position: static;
}

section{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    padding: 10px 45px;
    background-color: #090849;
    width:500px;
    border-radius: 30px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: left;
}

section h1{
    color:#e55347;
    font-size: 2.5rem;
    margin: 2rem;
    

}

section form{
    display: flex;
    flex-direction: column;
    width:100%;
}

form label{
    color:#f5f5f5;
    font-size: 17px;
    margin-bottom: 4px;
    
}

form input{
    padding:15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition:all 0.5s;
    border-radius: 5px;

}

form input:focus{
    border-radius: 30px;
}

form textarea{
    padding: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 30px;
    transition:all 0.5s;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

form textarea:focus{
    border-radius: 20px;
    
}

form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    transition: all 1s;
    margin-bottom: 20px;
}

form button:hover{
    background-color: #f5f5f5;
    color:#312fa0;
    border-radius: 25px;
}

.container{
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
}

.item{
    background-color: #090849;
    color: #fff;
    padding: 20px;
    margin: 5px;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    
}

.cardapiob{
    background-color: #61136100;
    border: white;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
    padding: 10px;
    height: 30px;
    transition: 0.3s;
    align-items: center;
}


.cardapiob:hover{
    background-color: white;
    color: black;
    cursor: pointer;

}

.cardapiob:active{
    opacity: 0.1;
}

.simb{
    width: 280px;
    height: auto;
}

.cardimg{
    width: 280px;
    height: 200px;
    border-radius: 30px;
    overflow: hidden;
    transition: all 0.3s;
    align-items: center;
    text-align: center;
}

.comidas{
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
}

.cardimg:hover{
    transform: scale(1.1);   
}

.item p{
    color: #adadb3;
}

.opcoes{
 margin-right: 30px;
}